<%= form_for(@converter) do |f| %>
  <% if @converter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@converter.errors.count, "error") %> prohibited this converter from being saved:</h2>

      <ul>
      <% @converter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fromCurrency %><br>
    <%= f.text_field :fromCurrency %>
  </div>
  <div class="field">
    <%= f.label :toCurrency %><br>
    <%= f.text_field :toCurrency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
